@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.backgroundHome {
  width: 100%;
  height: 50vh;
  background: url("./assets/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundAbout {
  width: 100%;
  height: 50vh;
  background: url("./assets/about.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundPrivacy {
  width: 100%;
  height: 50vh;
  background: url("./assets/privacy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
